html,body{
background-color: aliceblue;
transition-delay: 60ms;
  transition-duration: 1s;
}
h1{
text-align: center;
font-weight: 900;
font-weight:900;
margin-top:2%;
margin-bottom:4%;
transition-delay: 60ms;
  transition-duration: 1s;
}
h1:hover{
transition-delay: 60ms;
  transition-duration: 1s;
  font-size:280%;
  transform: rotate(-2deg);
}
.buton{
border-style: solid;
border-width:1px;
padding: 3%;
border-color:rgb(140, 231, 243);
border-radius: 1rem;
background-color:rgb(216, 245, 250);
}
.bname{
font-weight:500;

}
.bttn{
transition-delay:200ms !important;
transition-duration:1s !important;
margin-left:80%;
height:100%;
width:20%;
background-color:#00b33c;
color:white;
border-radius:1rem;
}
.bttn:hover{
height:125%;
width:25%;
padding:25;
transition-delay:200ms !important;
transition-duration:1s !important;
}