<!DOCTYPE html>

{%extends 'index.html'%}
{%load static%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{%static 'css/signincss.css'%}">
{%block body_block%}

<div class="row" style="background-color: aliceblue;">
    <h1 style="text-align:center;">Your Cart</h1>
    <div class="col-8">
    {%for cart_item in cart_items%}
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="{{cart_item.product.image.url}}" class="card-img-top" alt="No image" width="380px" height="420px">
            <div class="card-body">
                <h5 class="card-title">{{cart_item.product.mobile_name}}</h5>
                <h6>{{cart_item.product.price}}</h6>
                <p>{{cart_item.status}}</p>
                <a href="{%url 'placeorder' cart_item.product.id cart_item.id%}" class="btn btn-primary">Place Order</a>
                <a href="{%url 'removes' cart_item.product.id%}" class="btn btn-danger">Remove item</a>

            </div>
        </div>
    </div>
    {%endfor%}
        </div>
    <div class="col-4 totalcart">
        <p> Worth {{total.product__price__sum}} RS on your Basket </p>

    </div>

</div>

{%endblock%}