<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deatil View</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.mobile_name}}</h5>
                    <p class="card-text">{{product.brand}}</p>
                    <p class="card-text">{{product.price}}</p>
                    <p class="card-text">{{product.specs}}</p>

                    <a href="{%url 'index'%}" class="btn btn-info">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>