<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Mobiles</title>
    <link rel="stylesheet" href="{%static 'css/createbrand.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

    <h1>Your Mobiles</h1>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Product Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Specs</th>
            </tr>
        </thead>
        {%for mobile in mobiles%}
        <tbody>
            <tr>
                <td>{{mobile.brand}}
                    </td>
                <td>{{mobile.mobile_name}}</td>
                <td><img src="{{mobile.image.url}}" alt="" width="250px" height="320px"></td>
                <td>{{mobile.price}}</td>
                <td>{{mobile.specs}}</td>
                <td> <a href="{%url 'change' mobile.id%}" class="btn btn-info">Edit</a></td>
                <td> <a href="{%url 'productdetail' mobile.id%}" class="btn btn-warning">View</a></td>
                <td><a href="{%url 'productremove' mobile.id%}" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
        {%endfor%}

    </table>
    </div>
    <a href="{%url 'index'%}" class="btn btn-info">Go Home</a>
</body>
</html>